<div style="width:20px;height:20px;background-color:#ffcc00;">
  Cześć <%= @user.name %>!
  Prosimy o potwierdzenie maila klikając w link <%= link_to 'potwierdź', user_confirm_email_url(@user.token, host: "localhost:3000") %>
</div>